
.fondoJuan {
  /*height: 100vh;*/
  background-image: url(../img/profesores1DH.jpg);
  background-size: cover;
}
.fondo{
  background-color: rgba(90, 90, 90, 0.6);
}

.colorFondo{
  background-color: #dc303d;
}
